html,
body {
    padding: 0;
    margin: 0;
}

form button {
    margin: 1rem 0;
}

form label {
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

.table td,
.table th {
    vertical-align: middle;
}

#header {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 4.5rem;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
#header .header-large {
    font-size: 2rem;
}
#header .header-small {
    color: #595959;
}
#header .header-right {
    text-align: right;
}
#header .room-code-small {
    display: none;
}
#header img {
    height: 3rem;
    margin-right: 1.25rem;
}

.alert {
    margin-top: 1rem;
}

#content {
    min-height: calc(100vh - 48px - 0.5rem);
}

#footer {
    height: 48px;
    vertical-align: middle;
    text-align: right;
}

.placard {
    transition: box-shadow, backgroind-color, border, 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.placard.raised {
    background-color: #5aaaff;
    border: 1px solid rgb(0, 108, 222);
    color: #fff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
}

.btn-primary {
    background-color: #0071eb;
    border-color: #0071eb;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #eee;
    border-color: #ddd;
    color: #696969;
    opacity: 1;
}

.placards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.placards:empty::after {
    align-items: center;
    background-color: #eee;
    content: 'Votes will appear here';
    position: relative;
    display: -ms-flexbox;
    display: flex;
    height: 98px;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

@media screen and (max-width: 575.98px) {
    #header .header-right {
        display: none;
    }
    #header .room-code-small {
        display: inline;
    }
}
