html,
body {
    padding: 0;
    margin: 0;
}

form button {
    margin: 1em 0;
}

form label {
    font-size: 1.5em;
    margin: 1em 0 0;
}

.table td,
.table th {
    vertical-align: middle;
}

#header-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.alert {
    margin-top: 1rem;
}
