html,
body {
    padding: 0;
    margin: 0;
}

form button {
    margin: 1rem 0;
}

form label {
    font-size: 1.25rem;
    margin-top: 0.25rem;
}

.table td,
.table th {
    vertical-align: middle;
}

#header {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 4.5rem;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
#header .header-large {
    font-size: 2rem;
}
#header .header-small {
    color: #595959;
}
#header .header-right {
    text-align: right;
}
#header .room-code-small {
    display: none;
}
#header img {
    height: 3rem;
    margin-right: 1.25rem;
}
.alert {
    margin-top: 1rem;
}
@media screen and (max-width: 575.98px) {
    #header .header-right {
        display: none;
    }
    #header .room-code-small {
        display: inline;
    }
}
